using './main.bicep'

param prefix = 'mafqa-dev'
param storageAccountName = 'mafqadevqastore'
param azureOpenAIResourceId = '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-ai/providers/Microsoft.CognitiveServices/accounts/my-openai'
param azureOpenAIEndpoint = 'https://my-openai.openai.azure.com'
param azureOpenAIDeployment = 'gpt-4o'
param targetUrl = 'https://example.com'
param cronExpression = '0 18 * * *'
